<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="content">
      {{ range where .Site.Pages "Type" "not in" (slice "categories" "tags") }}
      {{ if and (ne .Kind "section") (not .IsHome) }}
      <div class="article" id="{{ .Title | urlize}}">
        {{/*
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        */}} {{ .Content }}
      </div>
      {{ end }} {{ end }}
    </div>
    <div class="sidebar">
      <h2>Navigation</h2>
      {{ range .Site.Sections }}
      <div>{{ .Title }}</div>
      {{ range where .Pages "Type" "not in" (slice "categories" "tags") }} {{ if
      and (ne .Kind "section") (not .IsHome) }}
      <div><a href="#{{ .Title | urlize }}">{{ .Title }}</a></div>
      {{ end }} {{ end }} {{ end }}
    </div>
  </body>
</html>
